// styles.scss

.test {
    width: percentage(5/5);
}

body {
    // background-color: tomato;
    // color: #fff;
    transform: translate3d(0, 0, 0);
}

.logo {
    @media (max-width: 767px) {
        content: url(/images/logo-small.png);
    }
}
